* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #181818;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  flex-direction: column;
}

.container {
  background-color: #2c2c2c;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 600px;
}

p {
  margin-bottom: 10px;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
  color: #e0e0e0;
  margin-bottom: 15px;
}

button {
  cursor: pointer;
  padding: 12px 24px;
  background-color: #a00;
  border: none;
  border-radius: 5px;
  color: #f0f0f0;
  font-size: 16px;
  transition: background-color 0.2s ease, transform 0.2s ease;
  margin: 20px 0px;
}

button:hover {
  background-color: #800;
  transform: scale(1.05);
}

a {
  color: #ee0000;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  text-decoration: none;
  color: #aa0000;
}

input {
  padding: 12px 20px;
  border-radius: 5px;
  border: 1px solid #555;
  width: 100%;
  max-width: 320px;
  margin: 10px 0;
  font-size: 16px;
  background-color: #2c2c2c;
  color: #f0f0f0;
}

input:focus {
  outline: none;
  border-color: #76c7c0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin: 10px 0;
}